.App {
  text-align: center;
  justify-content: center;
}

a{
margin: 3px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  background-color: #82e2fc;
  border: 2px solid greenyellow;
  color: crimson;
  height: 500px;
  width: 300px;
}
.card{
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin: 3px;
}
.card-header{
  text-align: center;
  font-size: 21px;
}
.card-body{
  padding: 3px;
  margin: 5px;
}